<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="kitaRangeSlider"
             href="EXT:daycarecenters/Resources/Public/Css/RangeSlider/RangeSlider.min.css"/>

<f:asset.script identifier="kitaRangeSlider"
                src="EXT:daycarecenters/Resources/Public/JavaScript/RangeSlider/RangeSlider.min.js"/>
<f:asset.script identifier="kitaMain"
                src="EXT:daycarecenters/Resources/Public/JavaScript/Main.js"/>

<div class="extcss clearfix rulerafter4">
    <f:form action="search" name="search" class="extform" noCache="1">
        <f:form.hidden id="earliestAge"
                       name="earliestAge"
                       data="{min-value: 0}"
                       value="{earliestAge}"/>
        <f:form.hidden id="latestAge"
                       name="latestAge"
                       data="{max-value: 6}"
                       value="{latestAge}"/>
        <f:form.hidden id="earliestOpeningTime"
                       name="earliestOpeningTime"
                       data="{min-value: 07.00}"
                       value="{earliestOpeningTime}"/>
        <f:form.hidden id="latestOpeningTime"
                       name="latestOpeningTime"
                       data="{max-value: 18.00}"
                       value="{latestOpeningTime}"/>

        <div>
            <label>{f:translate(key: 'tx_daycarecenters_domain_model_kita.district')}</label>
            <f:form.select name="district"
                           options="{districts}"
                           optionLabelField="district"
                           optionValueField="uid"
                           sortByOptionLabel="1"
                           prependOptionLabel=""
                           prependOptionValue="0"/>
        </div>

        <div>
            <label for="earliestAge">
                {f:translate(key: 'tx_daycarecenters_domain_model_kita.earliest_age')}
            </label>
            <f:form.textfield id="ageSlider" name="ageSlider"/>
        </div>

        <div>
            <label for="earliestOpeningTime">
                {f:translate(key: 'tx_daycarecenters_domain_model_kita.opening_time')}
            </label>
            <f:form.textfield id="openingTimeSlider" name="openingTimeSlider"/>
        </div>

        <div>
            <label>
                {f:translate(key: 'tx_daycarecenters_domain_model_kita.food_supply')}
            </label>
            <f:form.checkbox name="food" value="1" checked="{f:if(condition: food, then: 'checked')}"/>
        </div>

        <div class="marginbottom">
            <f:form.submit value="{f:translate(key: 'search')}"/>
        </div>
    </f:form>
</div>
</html>
