<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{kita.facebook}">
    <div class="social">
        <f:link.external uri="{kita.facebook}">[FACEBOOK]</f:link.external>
    </div>
</f:if>
<f:if condition="{kita.twitter}">
    <div class="social">
        <f:link.external uri="{kita.twitter}">[TWITTER]</f:link.external>
    </div>
</f:if>
<f:if condition="{kita.instagram}">
    <div class="social">
        <f:link.external uri="{kita.instagram}">[INSTAGRAM]</f:link.external>
    </div>
</f:if>
</html>
